body {
  font-family: "Poppins", sans-serif;
}
.dark-3 {
  color: #777777;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}
.carousel-caption {
  top: 145px;
}
.carousel-caption h2 {
  font-size: 65px;
  font-weight: 600;
}
